@charset "UTF-8";

/*
    em html é id = em css é #
    em html é class = em css é .
*/

body{
    background-color: rgb(212, 241, 212);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1{
    color: green;
}

h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}

h2{
    color: rgb(4, 199, 4);   
}

.basico{
    color: #3c805e;    
}

.intermediario{
    color: #807f3c;
}

.avancado{
    color: #803c3c;
}

.destaque{
    background-color: #c5c577
}